<footer class="main-footer page__centerer">
	<div class="main-footer__content">
		{% set link_classes = "main-footer__link" %}

		{{ include("../components/logo.twig", { classes: "main-footer__logo", w: 220, h: 88 }) }}

		<section class="main-footer__contacts">
			<h2 class="visually-hidden">Контакты</h2>
			{{ include("../components/info-list.twig", {
				items: footer.contacts,
				classes: {
					key: "main-footer__heading"
				}
			}) }}
		</section>

		<section class="main-footer__nav">
			<h2 class="visually-hidden">Навигация</h2>
			{{ include("../components/list.twig", {
				items: footer.nav,
				classes: {
					list: "main-footer__nav-list list_is-unmarked",
					text: "main-footer__heading",
					subclasses: {
						list: "list_is-unmarked"
					}
				}
			}) }}
		</section>

		<section class="main-footer__social social">
			<h2 class="visually-hidden">Мы в соцсетях</h2>
			{{ include("../components/list.twig", {
				items: social,
				classes: {
					list: "social list_dir_inline list_is-unmarked",
				},
				link_classes: "social__link social__link_has-icon main-footer__link"
			}) }}
		</section>

		<section class="main-footer__license license">
			<h2 class="visually-hidden">Лицензии</h2>
			<a class="main-footer__link link" href="">Результаты проведения СОУТ</a>
			<a class="main-footer__link link" href="">Лицензия на доп. образование <span>серия 77 Л01 №0007610</span></a>
		</section>
		<section class="main-footer__legal legal">
			<h2 class="visually-hidden">Соглашения</h2>
			<a class="main-footer__link link" href="">Политика конфиденциальности</a>
			<a class="main-footer__link link" href="">Договор-оферта</a>
		</section>
		<section class="main-footer__copyright copyright">
			<h2 class="visually-hidden">Копирайт</h2>
			<div>© 2013–2023 SAY YES!</div>
			<div>Все права защищены</div>
		</section>
		<section class="main-footer__production production">
			<h2 class="main-footer__heading">Сделано с <span class="production__icon"><span class="visually-hidden">любовью</span></span></h2>
			{{ include("../components/info-list.twig", {
				items: production
			}) }}
		</section>
	</div>
</footer>
