<footer class="main-footer page__centerer">
	<div class="main-footer__content">
		{{ include("../components/logo.twig", { classes: "main-footer__logo" }) }}
		<dl class="main-footer__contacts contacts">
			<div>
				<dt>Телефоны:</dt>
				<dd>
					<a class="link" href="tel:+74996505347">+7 499 650–53–47</a>
				</dd>
				<dd>
					<a class="link" href="tel:+79295546599">+7 929 554–65–99</a>
				</dd>
			</div>
			<div>
				<dt>Связаться с нами:</dt>
				<dd>
					<a class="link" href="javascript:undefined">Заказать звонок</a>
				</dd>
				<dd>
					<a class="link" href="https://wa.me/79295546599">Напишите нам в WhatsApp</a>
				</dd>
			</div>
			<div>
				<dt>E-mail:</dt>
				<dd>
					<a class="link" href="mailto:info@sayes.ru">info@sayes.ru</a>
				</dd>
			</div>
			<div>
				<dt>Адрес школы:</dt>
				<dd>
					<address>
						г. Москва, м. Павелецкая, ул. Кожевническая, дом 14, корпус 1, строение 2
					</address>
				</dd>
			</div>
		</dl>
		<dl class="main-footer__nav nav">
			<dt>О Say Yes</dt>
			<dd>
				<ul class="nav__list">
					<li class="nav__item">
						<a class="link" href="{{ site.dir }}how-we-are/">Кто мы</a>
					</li>
					<li>
						<a class="link" href="{{ site.dir }}teachers/">Преподаватели</a>
					</li>
					<li>
						<a class="link" href="{{ site.dir }}methodology/">Методика</a>
					</li>
					<li>
						<a class="link" href="{{ site.dir }}student-progress">Прогресс студентов</a>
					</li>
					<li>
						<a class="link" href="{{ site.dir }}vacancies">Вакансии</a>
					</li>
				</ul>
			</dd>
			<dt>Курсы и программы</dt>
			<dd>
				<ul class="nav__list">
					<li class="nav__item">
						<a class="link" href="{{ site.dir }}how-we-are/">Кто мы</a>
					</li>
					<li>
						<a class="link" href="{{ site.dir }}teachers/">Преподаватели</a>
					</li>
					<li>
						<a class="link" href="{{ site.dir }}methodology/">Методика</a>
					</li>
					<li>
						<a class="link" href="{{ site.dir }}student-progress">Прогресс студентов</a>
					</li>
					<li>
						<a class="link" href="{{ site.dir }}vacancies">Вакансии</a>
					</li>
				</ul>
			</dd>
			<dd class="nav__list">
				<ul>
					<li class="nav__item">
						<a class="link" href="{{ site.dir }}how-we-are/">Кто мы</a>
					</li>
					<li>
						<a class="link" href="{{ site.dir }}teachers/">Преподаватели</a>
					</li>
					<li>
						<a class="link" href="{{ site.dir }}methodology/">Методика</a>
					</li>
					<li>
						<a class="link" href="{{ site.dir }}student-progress">Прогресс студентов</a>
					</li>
					<li>
						<a class="link" href="{{ site.dir }}vacancies">Вакансии</a>
					</li>
				</ul>
			</dd>
		</dl>
		<div class="main-footer__social social">
			<h2 class="visually-hidden">Мы в соцсетях</h2>
			<a class="link" href="">Telegram</a>
			<a class="link" href="">Instagram</a>
			<a class="link" href="">Youtube</a>
		</div>
		<div class="main-footer__license license">
			<a class="link" href="">Результаты проведения СОУТ</a>
			<a class="link" href="">Лицензия на доп. образование <span>серия 77 Л01 №0007610</span></a>
		</div>
		<div class="main-footer__legal legal">
			<a class="link" href="">Политика конфиденциальности</a>
			<a class="link" href="">Договор-оферта</a>
		</div>
		<div class="main-footer__copyright copyright">
			<div>© 2013–2023 SAY YES!</div>
			<div>Все права защищены</div>
		</div>
		<div class="main-footer__production production">
			<h2>Сделано с <span class="production__icon"><span class="visually-hidden">любовью</span></span></h2>
			<dl>
				<dt>Дизайн сайта</dt>
				<dd>Насибуллина Екатерина</dd>
			</dl>
		</div>
	</div>
</footer>
