<div class="header__top {{ classes }}">
	{{ include("../components/logo.twig", { classes: "header__logo", fill: "white" }) }}
	<ul class="header__nav nav">
		<li class="nav__item nav__item_is-decorated">
			<a class="nav__link link" href="">Бесплатный урок</a>
		</li>
		<li class="nav__item">
			<a class="nav__link link" href="">Онлайн тест</a>
		</li>
		<li class="nav__item">
			<a class="nav__link link" href="">Обратный звонок</a>
		</li>
	</ul>
	<dl class="header__contacts contacts contacts_direction_inline">
		<div class="contacts__connections">
			<dt class="visually-hidden">Связаться с нами:</dt>
			{% for connection in contacts.connections %}
			<dd class="contacts__item">
				<a class="contacts__link contacts__link_icon_{{ connection.icon }} link link_has-icon" href="{{ connection.href }}"><span class="visually-hidden">{{ connection.text }}</span></a>
			</dd>
			{% endfor %}
		</div>
		<div class="contacts__phones">
			<dt class="visually-hidden">Телефоны</dt>
			{% for phone in contacts.phones %}
			<dd class="">
				<a class="link" href="{{ phone.href }}">{{ phone.text }}</a>
			</dd>
			{% endfor %}
		</div>
		<div class="contacts__address">
			<dt class="visually-hidden">Адрес:</dt>
			<dd><address>Москва</address></dd>
		</div>
		<div class="contacts__work-time">
			<dt class="visually-hidden">Время работы</dt>
			<dd>ПН-ПТ с 12:00 до 21:00</dd>
		</div>
	</dl>
	<ul class="header__nav nav">
		<li class="nav__item">
			<a class="nav__link" href="{{ site.dir}}login/">Войти</a>
		</li>
	</ul>
</div>
