<section class="hero hero_type_banner page__centerer page__centerer_size_wide">
	{# TODO: Разные уровни на разных страницах #}
	<h2 class="hero__heading heading heading_lvl_1">{{ heading }}</h2>

	<div class="hero__description content">
		{{ description|raw }}
	</div>

	{{ include('../templates/picture.twig', { name: image_name, class: "hero__image", alt: image_alt, attrs: [{ name: "aria-describedby", value: "caption_#{image_name}" }] }) }}
	{% if image_caption %}
	<div id="caption_{{ image_name }}" class="hero__caption caption" aria-hidden="true">{{ image_caption }}</div>
	{% endif %}
</section>
